<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET" />
    <queries>
        <package android:name="com.android.chrome" />
        <intent><action android:name="android.support.customtabs.action.CustomTabsService" /></intent>
    </queries>
    <application android:allowBackup="false" android:usesCleartextTraffic="false"
        android:icon="@drawable/ic_launcher" android:label="@string/app_name"
        android:supportsRtl="true" android:theme="@style/AppTheme">
        <meta-data android:name="asset_statements" android:resource="@string/asset_statements" />
        <activity android:name=".MainActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- The pinned 2.7.3 helper does not register a shortcut activity.
             Build-Galaxy.ps1 also checks the merged release component allowlist. -->
    </application>
</manifest>
